* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    color: white;
}

header {
    position: relative;
    height: 140px;
    width: 100%;
    background-image: linear-gradient(to left top, #df1331, #9d000d);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
}

header img{
    width: 100%;
}

.logo{

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav {
    display: flex;
    height: auto;
    width: 70%;
    font-size: 140%;
    padding-right: 20px;

}

ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

li {
    display: flex;
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;

}

main {
    color: #fdfdfd;
    background-color: #f5f5f5;
    width: 100%;
    min-width: 320px;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.Container1{
    display: flex;
    justify-content: space-around;
    width: 95%;
}

.container-video{
    margin-top: 10px;
    width: 49%;
    height: 570px;
    position: relative;
}
  
  #video {
    object-fit: cover;
    width: 100%;
    height: 100%;

  }

.Container-jogos{
    margin-top: 10px;
    width: 49%;
    height: 570px;
    display: inline-block;
    background-color: aqua;

}

.jogodia{
    width: 50%;
    height: 20%;
}

.containerfilm{
    width: 100%;
    height: 500px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.videojogo{
    width: 20%;
    height: 60%;
    background-color: green;
}

.videojogo img{
    width: 100%;
    height: 100%;
}

.container-historico{
    border: 1px solid #000000;
    margin-bottom: 20px;
    color: #000000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 475px;
    text-wrap: wrap;
    font-size: 120%;
    margin-bottom: 60px;
}

.a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#tit-hist{
    color: black; font-size: 200%; margin-bottom: 10px;
}

#texto-hist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    text-wrap: wrap;
    width: 60%;
    height: 100%;
}


#texto-hist p{
    font-size: 100%;
    width: 70%;
    height: 90%;
}

#img-hist{
    width: 40%; 
    height: 100%;
}

#img-hist img{
    width: 100%;
    height: 100%;
}
.redes-sociais{
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
}

.redes-sociais img{
    padding-top: 2px;
    padding-left: 10px;
    width: 10%;
    height: 20%;
}


footer {
    position: relative;
    font-size: 130%;
    width: 100%;
    height: 130px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to left top, rgb(138, 6, 6), rgb(114, 17, 17));
}

footer img{
    width: 100%;
}

@media (max-width: 768px){

    header{
        justify-content: center;
    }

    nav{
        display: none;
    }

    .Container1{
        flex-direction: column;
        width: 100%;
    }
    .container-video, .Container-jogos{
        width: 100%;
        height: 300px;
    }

    .videojogo{
        width: 45%;
        height: 150px;
    }

    .container-historico{
        height: 225px;
        width: 95%;
    }

    #texto-hist p{
        font-size: 50%;
        width: 70%;
        height: 90%;
    }

    footer{
        font-size: 100%;
        flex-direction: column;
        text-align: center;
    }
}