body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}


h1 {
    text-align: center;
}




form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}




label {
    display: block;
    margin-bottom: 10px;
}




input[type="text"],
input[type="number"] {
    width: 94%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}




input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}




input[type="submit"]:hover {
    background-color: #0056b3;
}
