html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
footer {
    background-color: rgb(27, 25, 25);
    width: 100%;
    position: relative;
    bottom: 0;
}

.footerContain {
    width: 100%;
    margin: 0;
    padding: 0;
}

.socialIcons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50px;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    flex-wrap: wrap;
}

.footerNav ul li {
    list-style: none;
}

.footerNav ul li a {
    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2em;
    opacity: 0.7;
}

.footerNav ul li a:hover {
    opacity: 1;
}

.footerButton {
    background-color: black;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.footerButton p {
    color: white;
    text-align: center;
    padding-bottom: 10px;
    font-size: 1em;
}

.dev {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media only screen and (max-width: 768px) {
    .socialIcons {
        flex-wrap: wrap;
        justify-content: center; 
    }

    .socialIcons a {
        margin: 5px; 
    }

    .footerNav {
        padding: 20px 0; 
    }

    .footerNav ul {
        flex-direction: column;
        align-items: center; 
    }

    .footerNav ul li a {
        padding: 10px; 
    }

    .footerButton p {
        font-size: 0.9em; 
    }
}
