html, body {
    height: 100%;
}
.header {
    top: 0;
    left: 0;
    width: 100%;
}
:root {
    --cor-branca: #fff;
    --cor-vermelho: rgb(180, 0, 0);
    --cor-escura4: #1c1c1c;
    --cor-texto: #000;
    --cor-fundo: #fff;
}
.dark-mode {
    --cor-branca: #fff;
    --cor-vermelho: #cc0000;
    --cor-escura4: #1c1c1c;
    --cor-texto: #e0e0e0;
    --cor-fundo: #121212;
}

* {
    margin: 0;
    padding: 0;
}

#deslogar {
    font-size: 1.1em;
    padding: 10px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: var(--cor-branca);
    position: absolute;
    right: 2%; /* 5px da borda direita */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente */
}
.theme-toggle {
    display: flex;
    align-items: center;
    position: absolute;
    right:19%;
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente */
}
#deslogar a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

#deslogar a i {
    padding-right: 8px;
    font-size: 1.2em;
}

#deslogar:hover {
    background-color: var(--cor-branca);
    transition: 0.8s;
}

#deslogar a:hover {
    color: rgb(150, 0, 0);
    transition: 0.3s;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

.img_logo_header {
    width: 90px;
}

.header {
    background-color: var(--cor-vermelho);
    height: 6em; /* Aumenta a altura do header */
    box-shadow: 1px 1px 4px var(--cor-escura4);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Necessário para o posicionamento absoluto do #deslogar */
}
.navegacao_header {
    display: flex;
    gap: 3em;
    align-items: center;
    position: absolute;
    left: 35%;
    transform: translateX(-50%);
    transition: transform 0.3s ease;
}

.navegacao_header a {
    text-decoration: none;
    color: var(--cor-texto);
    transition: color 0.3s ease;
    font-weight: bold;
}

.navegacao_header a:hover {
    color: var(--cor-branca);
}

#ativo :hover {
    padding: 10px;
    background-color: white;
    padding: auto;
    color: var(--cor-texto);
    border-radius:4px;
}

.btn_icon_header {
    background: transparent;
    border: none;
    color: var(--cor-branca);
    cursor: pointer;
    display: none;
    margin-left: 7px;
}

.dark-mode {
    background: #121212;
    color: #ffffff;
}

.dark-mode .header {
    background-color: #333;
}

.dark-mode .nav-item span {
    color: #ffffff;
}

.dark-mode table {
    background: rgba(255, 255, 255, 0.1);
}

.dark-mode th {
    color: #00ff00; 
    border-bottom: 3px solid #ff0000; 
}

.dark-mode .dados {
    color: #ff0000; 
}

.dark-mode .clube {
    color: #00ff00; 
}

.theme-toggle {
    cursor: pointer;
}

.theme-toggle img {
    height: 40px; 
}

@media screen and (max-width: 768px) {
    .logo_header {
        display: flex;
        justify-content: center;
        align-items: center; 
        width: 100%; 
    }

    .img_logo_header {
        width: 40px;
    }
    .navegacao_header {
        position: fixed;
        flex-direction: column;
        top: 0;
        background: var(--cor-vermelho);
        height: 100%;
        width: 35vw;
        padding: 1em;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 22;
    }
    .dark-mode .navegacao_header{
        background-color: #333;
    }
    .btn_icon_header {
        display: block;
        z-index: 23;
    }
    .theme-toggle img{
        width: 26px;
    }
    .overlay.active + .navegacao_header {
        transform: translateX(0);
    }
    #deslogar {
        right: 1%; 
        font-size: 10px;
        margin: none;
        padding: 0px;
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 15;
    display: none;
}

.overlay.active {
    display: block;
}
.submenu {
    display: none;
    position: absolute;
    left: 0;
    background: rgb(109, 0, 0);
    min-width: 150px;
    border-radius: 5px;
    z-index: 22;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.dark-mode .submenu {
    background-color: #333;
}
.submenu a {
    color: var(--cor-branca);
    padding: 10px;
    display: block;
    text-decoration: none;
}
.submenu a:hover{
    background-color: white;
    color: var(--cor-texto);
    border-radius: 4px;
}
.dark-mode .submenu a:hover{
    color: black;
    background-color: white;
}
.dark-mode #ativo a:hover{
    color: black;
    border-radius: 4px;
}
.has-submenu {
    position: relative;
}

.has-submenu:hover .submenu {
    display: block;
}