*{

    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/

header{
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgb(214, 0, 0),rgb(156, 0, 0));
}   

#Icon{
    width: 125px;
    height: 125px;
}

#Icon img{
    width: 100%;
}

#titulo{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.cadastro{
    font-size: 1.1em;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    margin-right: 10px;
}
.cadastro a{
    text-decoration: none;
    color: white;
}

.cadastro a i{
    padding-right: 8px;
}


.cadastro:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.8s;
}

.cadastro a:hover{
    color: rgb(150, 0, 0);
    transition: 0.8s;
} 
/*NAV*/

nav{
    width: 100%;
    background-color: rgb(180, 0, 0);
    height: auto;
    display: flex;
    justify-content: center;
}

nav ul {
    width: auto;
    background-color: none;
    list-style: none;
}

nav ul li{
    display: inline-block;
    position: relative;
}

nav ul li a{
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

nav ul li ul.dropdown li{
    display: block;
}

nav ul li ul.dropdown{

    width: 100%;
    background-color: rgb(109, 0, 0);
    position: absolute;
    z-index: 999;
    display: none;
}

nav ul li a:hover{
    transition: 1s;
    background-color: rgb(255, 255, 255);
    color: rgb(100, 0, 0)
}
nav ul li:hover ul.dropdown{
    transition: 0.5s;
    display: block;
}

/* MAIN */


main{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

/*SLIDE*/

.Slideshare{
    width: 100%;
    height: 500px;
    background-color: white;
}

.slideshow-container {
    position: relative;
    height: 100%;
    /*max-width: 1000px;*/
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.mySlides {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.mySlides img {
    width: 100%;
    height: 100%;
    /*object-fit: contain;*/
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
}


/*NOTICIAS E INFO*/

.noticias{
    width: 100%;
    height: auto;
}

.news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.news-block {
    background-color: #d8d8d8;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(50% - 20px); 
    transition: transform 0.2s;
}

.news-block:hover {
    transform: scale(1.05);
}

.news-block img {
    width: 100%;
    height: auto;
}

.news-text {
    padding: 15px;
}

.news-text h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.news-text p {
    margin: 10px 0 0;
    color: #666;
}

.noticias a {
    text-decoration: none;
    color: inherit;
}

/*SESSAO DE CONTEUDO*/
.conteudo {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px;
}

.image-block {
    flex: 0 0 600px; /* largura fixa */
    height: 400px; /* altura fixa */
    overflow: hidden;
    border-radius: 8px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-block img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease-in-out;
}

.image-block:hover img {
    transform: scale(1.1);
}

.text-block {
    flex: 1;
}

.text-block h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
}

.text-block p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

.text-block h2 a{

    color: rgb(202, 0, 0);
    
}

/*FOOTER*/

footer{
    background-color: rgb(27, 25, 25);
}

.footerContain{
    width: 100%;

}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50px;
}

.socialIcons a i{

    font-size: 2em;
    color: black;
    opacity: 0.9;

}
.socialIcons a:hover{

    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{

    color: white;
    transition: 0.5s;

}

.footerNav{
    padding: 30px 0;

}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{

    color: white;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2em;
    opacity: 0.7;

}

.footerNav ul li a:hover {
    opacity: 1;
}


.footerButton{
    background-color: black;
    padding: 20px 0px;
    text-align: center;
}

.footerButton p{
    color: white;
    text-align: center;
    padding-bottom: 10px;
    font-size: 1em;
}

.dev{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}