body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50;
    margin: 0;
    font-family: Arial, sans-serif;
    user-select: none;
}

.login-container {
    background-color: #34495e;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 20px;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
    color: white;
    text-align: left;
}

.login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.login-container button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
}