
* {
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    /* background-color: #f0f8ff; */
    background: linear-gradient(to top,#ff73008c,rgba(255, 4, 4, 0.726));
    user-select: none;
}

#tabela-wrapper {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 1.8);
    width: 80%;
    margin-top: 1%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 5%;
}

.grupo-container {
    width: 100%;
    margin-bottom: 20px;
}

.grupo-header {
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-left: 30px;
    text-align: left;
}

.tabela-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tabela-flex-header, .tabela-flex-row {
    display: flex;
    width: 100%;
    /* background-color: #f2f2f2; */
    /* border: 1px solid #ddd; */
    border-bottom: 1px solid #dddddd59 ;
}
.tabela-flex-row:hover{
    background-color: #dddddd54;
}
.tabela-flex-header{
     background-color: #f2f2f283;
}

.tabela-flex-header > div, .tabela-flex-row > div {
    flex: 1;
    padding: 10px;
    text-align: center;
    /* border-right: 1px solid #ddd; */
}

.tabela-flex-header > div:last-child, .tabela-flex-row > div:last-child {
    border-right: none;
}

.logo-time {
    max-width: 50px;
    max-height: 50px;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 10%;
    margin-left: 10px;
}

.small-col {
    min-width: 70px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content:center;
}

.larger-col {
    min-width: 70px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content:center;
}

.resultado-vitoria {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-right: 2px;
}

.resultado-derrota {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-right: 2px;
}

.resultado-empate {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 2px;
}

.resultado-indefinido {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: lightgray;
    border-radius: 50%;
    margin-right: 2px;
}

#legenda-simbolos {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.simbolo {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
}

.descricao {
    display: inline-block;
    margin-left: 5px;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode #tabela-wrapper {
    background-color: #1e1e1e;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode .tabela-flex-header {
    background-color: #333333;
}

body.dark-mode .tabela-flex-row {
    background-color: #333333;
    color: #e0e0e0;
}

body.dark-mode #legenda-simbolos {
    background-color: #2c2c2c;
    border: 1px solid #444;
}

.dark-mode-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dark-mode-button:hover {
    background-color: #0056b3;
}

.time-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 270px; /* Largura mínima */
    min-height: 80px;
    max-width: 270px;
    max-height: 80px;
    overflow: hidden;
}
.clube{
    min-width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posicao_num {
    font-weight: bold;
    margin-right: 10px;
    font-size: 1.2em;
}

.time-name {
    display: flex;
    align-items: center;
    flex: 1; /* Faz com que o nome do time ocupe o espaço restante */
    overflow: hidden; /* Oculta texto que excede o limite */
    text-overflow: ellipsis; /* Adiciona '...' ao final do texto que excede o limite */
    white-space: nowrap; /* Evita que o texto quebre em várias linhas */
}
.inf{
    display: inline-block; 
    width: 10px; 
    height: 10px; 
    background-color: green; 
    border-radius: 50%; 
    margin-right: 2px;
}
/* 2 = red , 3 = gray, 4 = lightgray */
/* Media Queries */
.inf2{
    display: inline-block; 
    width: 10px; 
    height: 10px; 
    background-color: red; 
    border-radius: 50%; 
    margin-right: 2px;
}
.inf3{
    display: inline-block; 
    width: 10px; 
    height: 10px; 
    background-color: gray; 
    border-radius: 50%; 
    margin-right: 2px;
}
.inf4{
    display: inline-block; 
    width: 10px; 
    height: 10px; 
    background-color: lightgray; 
    border-radius: 50%; 
    margin-right: 2px;
}
@media (max-width: 1200px) {
.larger-col {
min-width: 60px;
}
}

@media (max-width: 768px) {
h1,h2 {
font-size: 10px;
}
h1{
margin-top: 10%;
}
/* .tabela-flex-header, .tabela-flex-row {
flex-direction: column;
align-items: stretch;
} */

.small-col{
min-width: 0%;
max-width: 20px;
text-align: center;
}
.larger-col{
min-width: 50px;
max-width: 50px;
}
.inf{
width: 5px;
height: 5px;
}
.inf2{
width: 5px;
height: 5px;
}
.inf3{
width: 5px;
height: 5px;
}
.inf4{
width: 5px;
height: 5px;
}
.grupo-header{
font-size: 10px;
}
#tabela-wrapper{
width: 100%;
}
.tabela-flex-header > div, .tabela-flex-row > div{
padding: 0px;
margin: 0px;
}
.time-info{
display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 80px; /* Largura mínima */
    min-height: 8px;
    max-width: 100px;
    max-height: 20px;
    overflow: hidden;
}
.tabela-flex-header {
font-size: 10px;
}

.logo-time {
max-width: 10px;
max-height: 10px;
margin-left: 1px;
margin-right: 1px;
}

.posicao_num {
font-size: 1em;
margin-left: 0px;
margin-right: 0px;
}

.time-name {
font-size: 7px;
min-width: 10px;
max-width: 30px;
}
.clube{
    min-width: 70px; /* Largura mínima */
    max-width: 100px;
}
}

@media (max-width: 480px) {
h1 {
font-size: 10px;
}

.tabela-flex-header, .tabela-flex-row {
flex-direction: center;
align-items: stretch;
}

.small-col, .larger-col {
min-width:23px;
text-align: center;
font-size: 7px;
}

.logo-time {
max-width: 10px;
max-height: 10px;
}

.posicao_num {
font-size: 10px;
}

.time-name {
font-size: 10px;
}
}

        /* Adicione o CSS para o efeito de desvanecimento */
        .fade-in {
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }

        .fade-in.visible {
            opacity: 1;
        }
        .grupo-container {
            margin-bottom: 20px;
        }
        #carregamento {
            display: block;
            text-align: center;
            padding: 20px;
        }