
body {
    height: 100vh;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(218, 215, 215);
    user-select: none;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
form {
    max-width: 400px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
label {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    background-color: #c60909;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}
button:hover {
    background-color: #a50707;
}

.senha_incorreta{
    color: red;
}

@media (max-width: 600px) {
    form {
        padding: 15px;
        width: 92% !important;
    }
    input[type="text"], input[type="password"] {
        width: 90%;
    }
    label {
        font-size: 14px;
    }
    
    input[type="text"],
    input[type="password"] {
        font-size: 14px;
        padding: 8px;
    }
    
    button {
        width: 95%;
        font-size: 14px;
        padding: 10px;
    }
}
