
body {
    margin: 0;
    padding-top: 80px; /* Espaçamento para o cabeçalho fixo */
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
    user-select: none;
}

.header {
    padding: 10px 0;
    width: 100%;
    position: fixed; /* Fixado no topo da página */
    top: 0;
    left: 0;
    z-index: 1000; /* Garantir que o header esteja acima de outros elementos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao cabeçalho */
    user-select: none;
}

.containerr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: auto;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.logo img {
    height: 80px;
    margin-right: 10px;
}

.nav-icons {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 30px; /* Espaçamento entre os itens */
}

.nav-item {
    text-align: center;
}

.nav-item img {
    height: 40px;
    width: 40px;
}

.nav-item span {
    display: block;
    margin-top: 5px;
    color: white;
    font-size: 14px;
}

/* Estilos para o modo escuro */
.dark-mode {
    background: #121212;
    color: #ffffff;
}

.dark-mode .header {
    background-color: #333;
}

.dark-mode .nav-item span {
    color: #ffffff;
}

.dark-mode table {
    background: rgba(255, 255, 255, 0.1);
}

.dark-mode th {
    color: #00ff00; /* Verde */
    border-bottom: 3px solid #ff0000; /* Vermelho */
}

.dark-mode .dados {
    color: #ff0000; /* Vermelho */
}

.dark-mode .clube {
    color: #00ff00; /* Verde */
}

.theme-toggle {
    cursor: pointer;
}

.theme-toggle img {
    height: 50px; /* Ajuste o tamanho conforme necessário */
}
@media (max-width: 768px) {
    .containerr {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .logo img {
        height: 60px;
    }

    .nav-icons {
        flex-direction: column;
        gap: 15px;
    }

    .nav-item img {
        height: 30px;
        width: 30px;
    }

    .nav-item span {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .logo img {
        height: 50px;
    }

    .nav-icons {
        gap: 10px;
    }

    .nav-item img {
        height: 25px;
        width: 25px;
    }

    .nav-item span {
        font-size: 10px;
    }

    .theme-toggle img {
        height: 40px;
    }
}
