
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main-content {
    flex: 1; 
}
.titulo-barra {
    margin-top: 5%;
    margin-bottom: 4%;
}
label {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
}
input[type="text"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
select {
    width: 103%;
}
input[type="submit"] {
    background-color: #c60909;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"]:hover {
    background-color: #a60000;
}
.formulario {
    display: flex;
    min-width: 60%;
    margin-bottom: 5%;
    height: auto;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

form {
    max-width: 700px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.message {
    padding: 15px;
    margin-bottom: 5px;
    font-size: 18px;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin-top: 5px;
}
.message.success {
    background-color: #d4edda;
    color: #155724;
}
.message.error {
    background-color: #f8d7da;
    color: red;
}
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode form {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

body.dark-mode input[type="submit"] {
    background-color: #bb4a4a;
}

body.dark-mode .message.success {
    background-color: #2a5d2a;
    color: #d4edda;
}

body.dark-mode .message.error {
    background-color: #5d2a2a;
    color: #f8d7da;
}
@media (max-width: 768px) {
    .formulario {
        margin-top: 10%;
        height: 100%;
    }
    form {
        width: 300px;
    }

    label {
        font-size: 16px;
    }

    input[type="text"],
    input[type="file"],
    select {
        width: 90%;
        font-size: 14px;
    }

    input[type="submit"] {
        font-size: 14px;
        padding: 10px 15px;
    }
}

@media (max-width: 480px) {
    form {
        padding: 15px;
    }

    label {
        font-size: 14px;
    }

    input[type="text"],
    input[type="file"],
    select {
        font-size: 12px;
    }

    input[type="submit"] {
        font-size: 12px;
        padding: 8px 10px;
    }
}
