
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background: linear-gradient(to top, #ff73008c, rgba(255, 4, 4, 0.726)); */
}
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
    flex: 1;
}
footer{
    margin-top: 20%;
}
h1 {
    font-size: 40px;
    margin-top: 6%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
}
.container {
    max-width: 900px;
    margin: auto;
}
.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.form-group .btn-add {
    margin-right: 10px;
    font-size: 20px;
    line-height: 1;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.form-group .btn-add:hover {
    background-color: #0056b3;
}
.form-group select {
    width: 300px;
}
.player-card {
    background-color: rgba(255, 255, 255, 0.322);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    transition: background-color 0.3s;
}
body.dark-mode .player-card {
    background-color: rgba(255, 255, 255, 0.322);
}
.player-image {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}
.player-details {
    flex: 1;
    margin-right: 20px;
    text-align: left;
    color: inherit;
}
.player-actions {
    margin-top: 10px;
}
.player-actions button {
    margin-right: 10px;
}
.modal-content {
    border-radius: 10px;
    background-color: #fefefe;
    color: #000;
}
body.dark-mode .modal-content {
    background-color: #333;
    color: #fff;
}
