
body {
    font-family: 'Arial', sans-serif;

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* color: #fff; */
}
.container {
    padding: 20px;
    width: 100%;
    max-width: 80%;
}
.form-container {
    background-color: rgb(218, 215, 215);
    border-radius: 15px;
    box-shadow: 0 8px 62px 0 rgba(31, 38, 135, 1.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 3px solid rgba(31, 38, 135, 0.37);
    padding: 40px;
    margin-top: 10%;
    margin-bottom: 10%;
}
.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 45px;
    margin-bottom: 5px;
}
input[type="text"], input[type="number"], select {
    padding: 10px;
    border: 3px solid rgba(31, 38, 135, 0.37);
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.2);
    /* color: #fff; */
}
input[type="file"] {
    padding: 10px;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.2);
    /* color: #fff; */
    border: none;
    border-radius: 5px;
}
input[type="submit"] {
    padding: 15px;
    border: 3px solid rgba(31, 38, 135, 0.37);
    background-color: #28a745;
    /* color: white; */
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 50px;
    font-size: 30px;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #218838;
}
.btn-cancel {
    padding: 15px;
    background-color: #dc3545;
    color: white;
    border: 3px solid rgba(31, 38, 135, 0.37);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 30px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
.btn-cancel:hover {
    background-color: #c82333;
}
#imagem-preview {
    max-width: 100px;
    height: auto;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
}
