
h2 {
    text-align: center;
    font-size: 40px;
}

#editable {
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black; 
    animation: typing 3s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

.formulario {
    margin: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Courier, monospace;
    text-align: left;
    min-width: 36%;
    max-width: 60%;
    border: #666 1px solid;
    padding: 40px;
    box-shadow: #666;
    border-radius: 10px;
}

label {
    font-size: 20px;
    margin: 5px 0 5px 14px;
    font-weight: bold;
}

input[type="text"],
input[type="file"],
input[type="date"],
select {
    padding: 20px;
    border-radius: 40px;
    margin-bottom: 15px;
    font-size: 18px;
    border: #666 1px solid;
    color: rgba(15, 10, 2, 0.466);
    background-color: rgba(255, 255, 255, 0.459);
    width: 90%;
}

input[type="submit"] {
    background-color: #c60909;
    color: #fff;
    border: #666 1px solid;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 5px;
}

#imagem-preview {
    max-width: 20%;
    height: auto;
    display: none;
}

.dark-mode h2 {
    color: #e0e0e0;
}

.dark-mode #editable {
    border-right: 2px solid #e0e0e0; 
    color: #e0e0e0; 
    background-color: #333; 
}

.dark-mode form {
    background-color: #2c2c2c; 
    padding: 50px;
}

.dark-mode label {
    color: #e0e0e0; 
}

.dark-mode input[type="text"],
.dark-mode input[type="file"],
.dark-mode input[type="date"],
.dark-mode select {
    color: #e0e0e0; 
    background-color: #333; 
    border-color: #666; 
}

.dark-mode select {
    width: 100%;
}
