.container {
    margin-top: 3%;
    padding: 1.25rem;
}
.text-center{
    margin-top: 3%;
}
h3{
    margin-left: 10px;
}
.row{
    align-items: center;
    justify-content: center;

}
.dark-mode .time-card{
    background-color: #837575;
}
.time-card {
    background-color: #f8f9fa;
    padding: 1.25rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    text-align: center;
}
.time-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}
.time-image {
    width: auto;
    height: 80px;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.time-actions {
    display: flex;
    gap: 0.625rem;
}
.time-actions a {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    border-radius: 5px;
    font-size: 0.875rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
.time-actions a.delete {
    background-color: #dc3545;
}
.time-actions a.delete:hover {
    background-color: #c82333;
}
.time-actions a.edit {
    background-color: #007bff;
}
.time-actions a.edit:hover {
    background-color: #0056b3;
}
@media (max-width: 767px) {
    .container {
        padding: 1rem;
    }
    .time-card {
        padding: 0.5rem;
    }
    .time-image {
        width: 60px;
    }
    .time-actions a {
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
    }
}